@import "compass/reset";
@import "compass/css3";

@import "variables";

@import "../node_modules/include-media/dist/include-media";
body{
  background: #000;
  font: 300 25px/1.2 $font;

@include media(">phone", "<=tablet") {
background: #eee;
}
@include media("≥phone", "≤tablet") {
background: red;
}
}

.font-white{
  color: white;
  a{
    color: white;
  }
}

.font-black{
  color: white;
  a{
    color: white;
  }
}

h1{
  font: 900 254px/1.2 $font;
}

h3{
  font: 300 38px/1.2 $font;
  em{
    color: $extra;
    font-style: normal;
  }
}

//header
header{
  position: fixed;
  width: 100%;
  top:0;
  left: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 15px;
  box-sizing: border-box;

  h5{
    font: 900 35px/1.1 $font;
  }

  nav{
    font: 500 15px/1.2 $font;
    text-transform: uppercase;
    a{

      text-decoration: none;
    }
    ul{
      li{
        display: inline-block;
        margin: 0 10px;
        padding: 0 0 10px;
        position: relative;

        &.active{
          &:after{
            position: absolute;
            width: 90%;
            left: 5%;
            bottom: 0;
            content: '';
            height: 2px;
            background: #737170;
          }
        }
      }
    }
  }
}

//section
section {
  height: 100vh;
}

//home{
.home{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
