/* line 5, C:/Ruby27-x64/lib/ruby/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby27-x64/lib/ruby/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby27-x64/lib/ruby/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby27-x64/lib/ruby/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby27-x64/lib/ruby/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby27-x64/lib/ruby/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby27-x64/lib/ruby/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby27-x64/lib/ruby/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby27-x64/lib/ruby/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 7, ../sass/style.scss */
body {
  background: #000;
  font: 300 25px/1.2 "Roboto", sans-serif;
}
@media (min-width: 481px) and (max-width: 768px) {
  /* line 7, ../sass/style.scss */
  body {
    background: #eee;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  /* line 7, ../sass/style.scss */
  body {
    background: red;
  }
}

/* line 19, ../sass/style.scss */
.font-white {
  color: white;
}
/* line 21, ../sass/style.scss */
.font-white a {
  color: white;
}

/* line 26, ../sass/style.scss */
.font-black {
  color: white;
}
/* line 28, ../sass/style.scss */
.font-black a {
  color: white;
}

/* line 33, ../sass/style.scss */
h1 {
  font: 900 254px/1.2 "Roboto", sans-serif;
}

/* line 37, ../sass/style.scss */
h3 {
  font: 300 38px/1.2 "Roboto", sans-serif;
}
/* line 39, ../sass/style.scss */
h3 em {
  color: #e96b6b;
  font-style: normal;
}

/* line 46, ../sass/style.scss */
header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 15px;
  box-sizing: border-box;
}
/* line 59, ../sass/style.scss */
header h5 {
  font: 900 35px/1.1 "Roboto", sans-serif;
}
/* line 63, ../sass/style.scss */
header nav {
  font: 500 15px/1.2 "Roboto", sans-serif;
  text-transform: uppercase;
}
/* line 66, ../sass/style.scss */
header nav a {
  text-decoration: none;
}
/* line 71, ../sass/style.scss */
header nav ul li {
  display: inline-block;
  margin: 0 10px;
  padding: 0 0 10px;
  position: relative;
}
/* line 78, ../sass/style.scss */
header nav ul li.active:after {
  position: absolute;
  width: 90%;
  left: 5%;
  bottom: 0;
  content: '';
  height: 2px;
  background: #737170;
}

/* line 94, ../sass/style.scss */
section {
  height: 100vh;
}

/* line 99, ../sass/style.scss */
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
